.github-embed { 
	padding: 0.5em 0.1em 0.5em 4em;
	background-color: #fdfdfd;
	width: 80%;
	margin: auto;
	margin-bottom: 1em;
	background-image: url('https://github.com/github/media/raw/master/octocats/blacktocat-32.png');
	background-repeat: no-repeat;
	background-position: 1em 1em;
	-webkit-box-shadow: 2px 2px 2px #ddd;
	-moz-box-shadow: 2px 2px 2px #ddd;
	box-shadow: 2px 2px 2px #ddd;
}

ul.github-repo-contributors {
	margin: 0;
}

li.github-repo-contributor {
	clear: both;
	display: inline-block;
	max-width: 40px;
	padding-right: 44px;
	vertical-align: top;
	padding-bottom: 20px;
	font-size: 10px;
}

.github-repo-contributor-avatar {
	float: left;
	margin-right: 1em;
	margin-bottom: 0.5em;
	max-width: 40px;
}